.cuadros {
    
    justify-content: center; /* Centrar las tarjetas horizontalmente */
    padding: 20px; /* Espaciado alrededor del contenedor */
    display: flex;
    flex-wrap: wrap;
    place-content: space-between;

}

.card {
    height: 300px;
    width: 300px;
}

.view-button {
    background-color: #1e90ff; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    background-color: red;
    display: flex;
    position: absolute;
    margin-top: 10rem;
}

.view-button:hover {
    background-color: #00bfff; /* Color al pasar el mouse */
}

.exercise-table {
    width: 100%;
    border-collapse: collapse; /* Combina bordes de celdas */
    margin-top: 20px; /* Espacio superior */
    background-color: #fffb;
}

.exercise-table th, .exercise-table td {
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 10px; /* Espaciado interno */
    text-align: left; /* Alinear texto a la izquierda */
}

.exercise-table th {
    background-color: rgba(68, 61, 61, 0.959); /* Color de fondo del encabezado */
}

.exercise-table tr:hover {
    background-color: #f5f5f5; /* Color al pasar el mouse */
}

button {
    background-color: #ff4d4d; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 10px; /* Espaciado interno */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición para hover */
}

button:hover {
    background-color: #ff1a1a; /* Color al pasar el mouse */
}

