.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #34495e;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif,;

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    transition: 0.3s;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    color: #ff6347; /* Cambia el color al pasar el mouse */
}
